/node_modules
/.github/copilot-instructions.md
/cenas.txt
/cenas.md
/DockerCenas
/experiments
.direnv/
/apps/client/dist
/apps/server/build/out
/apps/server/build/temp
/apps/windows/bin
/apps/windows/obj
/apps/windows/dist
/data
*.bun-build
.*.bun-build
